<!--<ion-router-outlet><ion-router-outlet></ion-router-outlet>

<ion-tab-bar slot="bottom">
  
  <ion-tab-button tab="camera">
    <ion-icon name="camera">
      <i class="material-icons">
        camera_alt
      </i>
    </ion-icon>
    <ion-label>HOME</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="map">
    <ion-icon name="map">
      <i class="material-icons">
        explore
        </i>
    </ion-icon>
    <ion-label>MAP</ion-label>
  </ion-tab-button>

</ion-tab-bar>-->

<ion-tabs>
    <ion-tab-bar slot="bottom">
  
        <ion-tab-button tab="camera">
          <ion-icon name="camera">
            <i class="material-icons">
              camera_alt
            </i>
          </ion-icon>
          <ion-label>HOME</ion-label>
        </ion-tab-button>
      
        <ion-tab-button tab="map">
          <ion-icon name="map">
            <i class="material-icons">
              explore
              </i>
          </ion-icon>
          <ion-label>MAP</ion-label>
        </ion-tab-button>
      
      </ion-tab-bar>
</ion-tabs>